/*  Header */

.header{
    display:flex;
    justify-content:  space-between;
    border: 1px solid black;
    height: 85px;
}

.logo{
    width: 120px;
}


.nav-items>ul{
    font-size: 25px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li{
    padding-right : 60px;
    margin : 10px;
}
.auth-button{
    background-color:thistle;
    color: black;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    transition: 0.1s;
    font-size: 20px;
    cursor: pointer;
}

.auth-button:hover{
    transform: scale(1.1);
}


/* res-card */

.res-Card-img{
    width: 100%;
    height: 150px;
}

.res-card{
    width: 180px;
    height: 380px;
    padding : 20px;
    margin : 10px;
    transition: 200ms;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
    transform: scale(1.03);
}




/* Body */
.body{
    border: 1px solid black;
    height: 180vh;
}

.filter{
    display: flex;
}
.search{
    padding : 5px;
    margin : 10px;
    cursor: pointer;
}
.search > button{
    font-size: 20px;
    width: 100px;
}
.search > .search-box{
    font-size: 20px;
    width: 300px;
}

.filter-btn{
    padding : 5px;
    margin : 10px;
    cursor: pointer;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



/* Shimmer */
.shimmer-container{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.shimmer-cards{
    width: 180px;
    height: 380px;
    padding : 20px;
    margin : 10px;
    transition: 200ms;
    background-color: #f0f0f0;
}